@model Tuple<List<prjShanLiang.Models.Store>, List<prjShanLiang.Models.StoreAdImage>>
@{
    ViewData["Title"] = "BuyAdv";
}


<head>
<style>
   
</style>
</head>
<body>
    <div style="position: relative;">
        <img src="~/Images/store/OGGI歐奇窯烤披薩敦南店.jpg" width="100%" height="100%">
        <span style="position: absolute; top: 200px; left: 400px; color: white; font-size: 44px; font-weight: bold;">透過膳糧推廣您的「膳糧」，膳糧平台擁有數百萬會員</span>
        <span style="position: absolute; top: 300px; left: 600px; color: white; font-size: 44px; font-weight: bold;">客製化行銷方案，擁有整個城市</span>
    </div>
    
    <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>購買廣告方案</h2>     
                <ol>
                    <li><a a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Index</li>
                </ol>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <!--==============================================-->
            <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

            <p>
                @Html.ActionLink("檢視購物車", "CartView")
            </p>
            <table class="table">
                <tr>
                    <th>
                        序
                    </th>
                    <th>
                        行銷管道
                    </th>
                    <th>
                        價錢
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @{
                    int count = 0;

                    foreach (var item in Model.Item1)
                    {

                        count++;
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                    @foreach (var adImage in Model.Item2.Where(ai => ai.StoreId == item.StoreId))
                                    {
                                        string imgName = item.RestaurantName + ".jpg";
                                        <img src="~/images/test/@imgName" class="carousel-image"width="200px" height="200px" />
                                    }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreId)
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                    @using (Html.BeginForm("AddAdvToCart", "Advertisement", FormMethod.Post))
                                {
                                        <input type="hidden" name="txtStoreID" value="@item.StoreId" />
                                    <div class="form-group">
                                        <div class="col-md-offset-0 col-md-10">
                                            數量
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextBox("txtCount", "1", new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-0 col-md-10">
                                            <input type="submit" value="加入購物車" class="btn btn-default" />
                                            
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }

            </table>

            <!--==============================================-->

        </div>
    </section>

</main><!-- End #main -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<button type="button" id="BackTop" class="toTop-arrow"></button>
<script>
                         
</script>
</body>
