@{
    ViewData["Title"] = "AddToCart";
}

<h1>加入購物車</h1>

<h4>請輸入購買數量</h4>
<hr />
@using (Html.BeginForm())
{
    <input type="hidden" name="txtMealId" value="@ViewBag.MealId" />

    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            數量
        </div>
        <div class="col-md-10">           
            @Html.TextBox("txtCount", 1, new { htmlAttributes = new { @class = "btn btn-primary" } })           
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <input type="submit" value="購買" class="btn btn-primary" />
            @Html.ActionLink("取消", "Menu", "Shopping", null, new { Class = "btn btn-primary" })
        </div>
    </div>

}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
