@model prjShanLiang.ViewModels.CMealViewModel

@{
    ViewData["Title"] = "修改餐點";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-color:orange;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
        
    <div class="container aos-init " data-aos="fade-up">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditMenu" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                     
                    <input type="hidden" value=@Model.StoreId name="StoreId" />
                    <input type="hidden" value=@Model.MealId name="MealId" />

                    <div class="form-group">
                        <label asp-for="MealName" class="control-label"></label>
                        <input asp-for="MealName" class="form-control" />
                        <span asp-validation-for="MealName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MealPrice" class="control-label"></label>
                        <input asp-for="MealPrice" class="form-control" />
                        <span asp-validation-for="MealPrice" class="text-danger"></span>
                    </div>              
                    <div class="form-group">
                        <label class="control-label">餐點介紹</label>
                        <input asp-for="Recommendation" class="form-control" />
                        <span asp-validation-for="Recommendation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">餐點圖片</label>
                        <input type="file" name="MealImage" class="form-control" onchange="readURL(this)" targetID="preview_progressbarTW_img" />
                        <img id="preview_progressbarTW_img" style="margin-top:10px" src="~/images/Menu/@Model.MealImagePath" alt="請選擇要上傳的圖片" />
                        
                    </div>
                    <div class="form-group">
                        <input type="submit" value="儲存" class="btn btn-primary" , onclick="return confirm ('確定要修改嗎?')" />
                        @Html.ActionLink("返回", "StoreMenuList","Shopping", null ,new{ @class = "btn btn-danger"})
                    </div>
                </form>
            </div>
        </div>
    </div>
</main><!-- End #main -->
@section Scripts {
    <script>
        @*此方法為顯示要上傳的照片*@
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#preview_progressbarTW_img')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(200);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
    </script>

}