@model IEnumerable<prjShanLiang.Models.MealOrderDetail>

@{
    ViewData["Title"] = "MyMealOrderDetail";
}
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
        <h1>訂單明細</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                餐點名稱
            </th>
            <th>
                數量
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
        <tr>
            <td>
                @count
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.MealId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                
            </td>
        </tr>
}}
    </tbody>
</table>
    </div>
</main><!-- End #main -->