@model prjShanLiang.Models.StoreEvaluate

@{
    ViewData["Title"] = "新增評論";
}
<link rel="stylesheet" href="~/css/Reserve.css" />
<style>
    body{
        font-size: 2rem;
    }

    .form-control {
        width: 100%; 
    }
</style>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>新增評論</h2>
                <ol>
                    <li><a a asp-controller="Store" asp-action="List">Store</a></li>
                    <li>AddComment</li>
                </ol>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->

    <div class="container">
        <hr />
        <div class="col-md-5-alter">
            <form asp-action="AddComment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group" hidden>
                    <label asp-for="StoreId" class="control-label"></label>
                    <input asp-for="StoreId" class="form-control" value="@ViewBag.Id" />
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="MemberId" class="control-label"></label>
                    <input asp-for="MemberId" class="form-control" value="@ViewBag.mid" />
                    <span asp-validation-for="MemberId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="control-label">評論內容</label>
                    <textarea asp-for="Comments" class="form-control" style="height:150px;text-align:left;"></textarea>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label">評分</label>
                    <input asp-for="Rating" class="form-control" min="0" max="5" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EvaluateDate" class="control-label">日期</label>
                    <input asp-for="EvaluateDate" class="form-control" type="date" />
                    <span asp-validation-for="EvaluateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-primary" style="font-size: 2rem;" />
                    <a asp-action="Restaurant" asp-route-id="@ViewBag.Id">取消</a>
                </div>
            </form>
        </div>
    </div>


</main>
@section Scripts {
    <script>
        //日期控制
        const dateControl = document.querySelector('input[type="date"]');
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        dateControl.value = today;
        dateControl.min = today;
        setTimeout(function () {
            dateControl.readOnly = true;
        }, 2000);

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
