@model prjShanLiang.Models.Account

@{
    ViewData["Title"] = "登入";
}
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                    <ol>
                        <li><a asp-controller="User" asp-action="Login">User</a></li>
                        <li>Login</li>
                    </ol>
                </div>

            </div>
        </div><!-- End Breadcrumbs -->

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AccountName" class="control-label"></label>
                        <input asp-for="AccountName" class="form-control" />
                        <span asp-validation-for="AccountName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountPassword" class="control-label"></label>
                        <input asp-for="AccountPassword" class="form-control" />
                        <span asp-validation-for="AccountPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="登入" class="btn btn-primary" />
                        <a asp-action="Signup">註冊會員</a>
                        <a asp-action="SignupStore">註冊店家</a>
                    </div>
                </form>
            </div>
        </div>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
</main>