@model prjShanLiang.Models.Account

@{
    ViewData["Title"] = "登入";
}


<style>
    .inputFont {
        font-size: 20px;
        font-family: Microsoft JhengHei ;
        display:block;
        height: 50px;
        width: 500px;
        margin-bottom:15px
    }
    
    .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
    }

    #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
    }
</style>
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                    <ol>
                        <li><a asp-controller="User" asp-action="Login">User</a></li>
                        <li>Login</li>
                    </ol>
                </div>

            </div>
        </div><!-- End Breadcrumbs -->

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best offer <br />
                    <span style="color: hsl(218, 81%, 75%)">for your business</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                                <form asp-action="Login">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="AccountName" class="control-label">帳號</label>
                                            <input asp-for="AccountName" id="InputAccount" value="chris@gmail.com" class="form-control inputFont" />
                                            <div id="accountHelp" class="form-text"></div>
                                            <span asp-validation-for="AccountName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="AccountPassword"  class="control-label">密碼</label>
                                            <input asp-for="AccountPassword" value="aaaBBB1234567A" class="form-control inputFont" />
                                            <span asp-validation-for="AccountPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="登入" class="btn btn-primary  mb-2 inputFont" />
                                            <a asp-action="Signup">註冊會員</a>
                                            <a asp-action="SignupStore">註冊店家</a>
                                        </div>
                                
                             
                            </div>

                            <!-- Email input -->
                            @*<div class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control" />
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>*@

                            <!-- Password input -->
                            @*<div class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>*@

                            <!-- Checkbox -->
                            @*<div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>*@

                            <!-- Submit button -->
                            @*<button type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>*@

                            <!-- Register buttons -->
                           @* <div class="text-center">
                                <p>or sign up with:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
        @section Scripts {
            
                <script>
                const inpAccount = document.getElementById('InputAccount');
                const divAccount = document.getElementById('accountHelp');
                inpAccount.addEventListener('blur', async () =>
                {
                    //  divAccount.innerHTML =inpAccount.value;
                    //檢查帳號是否存在
                    const response = await fetch('@Url.Content("~/Member/CheckLoginAccount")?name=' + inpAccount.value);
                    const isExists = await response.text();  //True or False
                    let message = "帳號不存在";
                    if (isExists === "True")
                    {
                        message = "帳號已存在";
                    }
                    divAccount.innerHTML = message;
                })
                </script>


                @*await Html.RenderPartialAsync("_ValidationScriptsPartial");*@
            
        }
    </div>
</main>
