

@model prjShanLiang.Models.Member

@{
    ViewData["Title"] = "edit";
}


<div class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>首頁</h2>
            <ol>
                <li><a a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Index</li>
            </ol>
        </div>

    </div>
</div><!-- End Breadcrumbs -->

<section class="sample-page">
    <div class="container" data-aos="fade-up">




<h1>修改會員資料</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="memberDataRevision2" id="memberDataRevision">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Email" name="Email" />
           <div class="form-group">
                <label asp-for="MemberName" class="control-label" placeholder="">會員名稱</label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memberphone" class="control-label" placeholder="">電話</label>
                <input asp-for="Memberphone" class="form-control" />
                <span asp-validation-for="Memberphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label" placeholder="">地址</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BrithDate" class="control-label" placeholder="">生日</label>
                        <input asp-for="BrithDate" readonly class="form-control" type="date" />
                <span asp-validation-for="BrithDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" readonly class="form-control"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="CustomerLevel" class="control-label" placeholder="">會員分級</label>
                <label class="form-control">@ViewBag.CustomerLevel</label>
                <span asp-validation-for="CustomerLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label" placeholder="" for="memberPassword" >新密碼</label>
                 <label>
                            <input type="checkbox" name="showPassword" id="chkShowPassword" />顯示密碼
                  </label>
                        <input asp-for="Password" class="form-control" placeholder="請輸入8-16個字元，包含英文大寫、小寫及數字" type="password" id="memberPassword" value="" maxlength="16"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                        <label for="memberPasswordChecking" class="control-label" >密碼確認</label>
                        <input type="password" name="passwordChecking" placeholder= "請再次輸入密碼"id="memberPasswordChecking" class="form-control" maxlength="16" />
                
            </div>
            
            <div class="form-group">
                <input id = "btnDataRevision" type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
        <div id="errorMessage1" ></div>
    </div>
</div>

<div>
            <a asp-action="memberManagement">回到會員中心</a>
</div>

@section Scripts {
    <script>
        
        const Password1 = document.getElementById('memberPassword');
        const Password2 = document.getElementById('memberPasswordChecking');
        const errorMessage = document.getElementById('errorMessage1');
        const btnDataRevision = document.getElementById('btnDataRevision');
        const chkShowPassword = document.getElementById('chkShowPassword');
        const memberDataRevision = document.getElementById('memberDataRevision');
        

        let errorString = '';
        btnDataRevision.disabled = false
        let pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/;
        let result = false

       
                
        Password1.addEventListener('input',
           function (event) {
                // 錯誤訊息用字串
              if (Password1.value){
                         errorString = ''
                    result = pattern.test(Password1.value)
                    if (!Password1.value) {
                                errorString += '請填寫密碼'
                            }
                    if (!Password2.value) {
                                errorString += ' 請確認密碼'
                    }
                    if (Password1.value !== Password2.value) {
                        errorString += ' 兩次輸入的密碼不同'
                    }
                    if (!result) {
                        errorString += ' 密碼強度不足'
                    }
                    errorMessage.innerText = (errorString) ? errorString : '密碼一致'
                
                    if (!errorString) {
                        btnDataRevision.disabled = false
                    }
                    if (errorString) {
                        btnDataRevision.disabled = true
                    }
              }   
        })
        Password2.addEventListener('input',
            function (event) {
                // 錯誤訊息用字串
                  if (Password1.value){
                         errorString = ''
                    result = pattern.test(Password1.value)
                    if (!Password1.value) {
                                errorString += ' 密碼沒填' 
                    }
                    if (!Password2.value) {
                        errorString += ' 密碼確認沒填'
                    }
                    if (Password1.value !== Password2.value) {
                        errorString += ' 兩次輸入的密碼不同'
                    }
                    if (!result) {
                        errorString += ' 密碼強度不足'
                    }
                    errorMessage.innerText = (errorString) ? errorString : '密碼一致'
                
                    if (!errorString) {
                        btnDataRevision.disabled = false
                    }
                    if (errorString) {
                        btnDataRevision.disabled = true
                    }
              }
            })
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
                chkShowPassword.addEventListener('change', (event) => {
                    if (event.currentTarget.checked) {
                        Password1.type = "text"
                        Password2.type = "text"
                    }
                    else {
                        Password1.type = "password"
                        Password2.type = "password"
                    }
                })
    </script>
}
    </div>
</section>

</main><!-- End #main -->


              