@model prjShanLiang.Models.Member

@{
    ViewData["Title"] = "memberDataRevision";
}

<style>
    .inputFont {
        font-size: 15px;
        font-family: Microsoft JhengHei;
        height: 30px;
        width: 350px;
        margin: 5px
    }
</style>
<div class="breadcrumbs" style="background-color:orange;">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">

            <h2>修改會員資料</h2>
        </div>

    </div>
</div><!-- End Breadcrumbs -->
<section style="background-color: #E0E0E0;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 col-lg-10">            
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">                              
                                <form asp-action="memberDataRevision2" id="memberDataRevision" class="mx-1 mx-md-4">


                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" value="@Model.Email" name="Email" />
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-group form-outline flex-fill mb-0 ">
                                            <label asp-for="MemberName" class="control-label" placeholder="">會員名稱</label>
                                            <input asp-for="MemberName" class="form-control inputFont" />
                                            <span asp-validation-for="MemberName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-group form-outline flex-fill mb-0 ">
                                            <label asp-for="Memberphone" class="control-label" placeholder="">電話</label>
                                            <input asp-for="Memberphone" class="form-control inputFont" />
                                            <span asp-validation-for="Memberphone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label" placeholder="">地址</label>
                                        <input asp-for="Address" class="form-control inputFont" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="BrithDate" class="control-label" placeholder="">生日</label>
                                        <input asp-for="BrithDate" readonly class="form-control inputFont" type="date" />
                                        <span asp-validation-for="BrithDate" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <label asp-for="Email" class="form-control inputFont">@Model.Email</label>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div><div class="form-group">
                                        <label asp-for="CustomerLevel" class="control-label" placeholder="">會員分級</label>
                                        <label class="form-control inputFont">@ViewBag.CustomerLevel</label>
                                        <span asp-validation-for="CustomerLevel" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label" placeholder="" for="memberPassword">新密碼</label>
                                        <label>
                                            <input type="checkbox" name="showPassword" id="chkShowPassword" />顯示密碼
                                        </label>
                                        <input asp-for="Password" class="form-control inputFont" placeholder="請輸入8-16個字元，包含英文大寫、小寫及數字" type="password" id="memberPassword" value="" maxlength="16" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="memberPasswordChecking" class="control-label">密碼確認</label>
                                        <input type="password" name="passwordChecking" placeholder="請再次輸入密碼" id="memberPasswordChecking" class="form-control inputFont" maxlength="16" />

                                    </div>

                                    <div class="form-group">
                                        <input id="btnDataRevision" type="submit" value="送出" class="btn btn-primary" onclick="return alert('修改資料已完成。')" />
                                    </div>
                                </form>
                                <div id="errorMessage1" style="color:red"></div>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
        @section Scripts {
            <script>

                const Password1 = document.getElementById('memberPassword');
                const Password2 = document.getElementById('memberPasswordChecking');
                const errorMessage = document.getElementById('errorMessage1');
                const btnDataRevision = document.getElementById('btnDataRevision');
                const chkShowPassword = document.getElementById('chkShowPassword');
                const memberDataRevision = document.getElementById('memberDataRevision');


                let errorString = '';
                btnDataRevision.disabled = false
                let pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/;
                let result = false



                Password1.addEventListener('input',
                    function (event) {
                        // 錯誤訊息用字串
                        if (Password1.value) {
                            errorString = ''
                            result = pattern.test(Password1.value)
                            if (!Password1.value) {
                                errorString += '*請填寫密碼\n'
                            }
                            if (!Password2.value) {
                                errorString += ' *請確認密碼\n'
                            }
                            if (Password1.value !== Password2.value) {
                                errorString += ' *兩次輸入的密碼不同\n'
                            }
                            if (!result) {
                                errorString += ' *密碼強度不足\n'
                            }
                            errorMessage.innerText = (errorString) ? errorString : '密碼一致'

                            if (!errorString) {
                                btnDataRevision.disabled = false
                            }
                            if (errorString) {
                                btnDataRevision.disabled = true
                            }
                        }
                    })
                Password2.addEventListener('input',
                    function (event) {
                        // 錯誤訊息用字串
                        if (Password1.value) {
                            errorString = ''
                            result = pattern.test(Password1.value)
                            if (!Password1.value) {
                                errorString += ' 密碼沒填'
                            }
                            if (!Password2.value) {
                                errorString += ' 密碼確認沒填'
                            }
                            if (Password1.value !== Password2.value) {
                                errorString += ' 兩次輸入的密碼不同'
                            }
                            if (!result) {
                                errorString += ' 密碼強度不足'
                            }
                            errorMessage.innerText = (errorString) ? errorString : '密碼一致'

                            if (!errorString) {
                                btnDataRevision.disabled = false
                            }
                            if (errorString) {
                                btnDataRevision.disabled = true
                            }
                        }
                    })
                //await Html.RenderPartialAsync("_ValidationScriptsPartial");
                chkShowPassword.addEventListener('change', (event) => {
                    if (event.currentTarget.checked) {
                        Password1.type = "text"
                        Password2.type = "text"
                    }
                    else {
                        Password1.type = "password"
                        Password2.type = "password"
                    }
                })
            </script>
        }
    </div>
</section>


