@model prjShanLiang.Models.Store

@{
    ViewData["Title"] = "storeDataRevision";
}



<div class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>首頁</h2>
            <ol>
                <li><a a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Index</li>
            </ol>
        </div>

    </div>
</div><!-- End Breadcrumbs -->

<section class="sample-page">
    <div class="container" data-aos="fade-up">




<h1>storeDataRevision</h1>

<h4>Store</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="storeDataRevision">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="AccountName" class="control-label">帳號</label>
                <input asp-for="AccountName" class="form-control" readonly/>
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label">餐廳名稱</label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantAddress" class="control-label">餐廳地址</label>
                <input asp-for="RestaurantAddress" class="form-control" />
                <span asp-validation-for="RestaurantAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantPhone" class="control-label">餐廳電話</label>
                <input asp-for="RestaurantPhone" class="form-control" />
                <span asp-validation-for="RestaurantPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label">餐廳座位數</label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            
           
            <div class="form-group">
                <label asp-for="OpeningTime" class="control-label">開始營業時間</label>
                <input asp-for="OpeningTime" class="form-control" />
                <span asp-validation-for="OpeningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingTime" class="control-label">結束營業時間</label>
                <input asp-for="ClosingTime" class="form-control" />
                <span asp-validation-for="ClosingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label">餐廳網站</label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreImage" class="control-label">餐廳圖片</label>
                <input asp-for="StoreImage" class="form-control" />
                <span asp-validation-for="StoreImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label">評分</label>
                <input asp-for="Rating"readonly class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreMail" class="control-label">餐廳Email</label>
                <input asp-for="StoreMail" class="form-control" />
                <span asp-validation-for="StoreMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">密碼</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    </div>
</section>

</main><!-- End #main -->