@{
ViewData["Title"] = "關於我們";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <h6>About Us</h6>
</div>
<div>
    <h1>ShanLiang : 膳糧。美食定位平台</h1>
    <h2>iSpan C# 軟體測試工程師養成班 304_A組</h2>
</div>

<hr />
<div>
    <h2>平台簡介</h2>
    <div>
        <h4>特色&目標</h4>

        <ul>
            <li>整合地圖搜尋功能讓使用者快速尋找餐廳,並提供訂位服務</li>
            <li>提供類別和地區的篩選,讓使用者可以快速尋找想吃的餐廳</li>
            <li>於店家頁面設置評價留言區,讓使用者可參考其他消費者的體驗</li>
            <li>提供店家廣告及推出新資訊(與獨家優惠)的平台</li>
        </ul>
    </div>
    <div>
        <h4>預期效益</h4>

        <ul>
            <li>以平台整合店家能讓消費者更快速的尋找想要的餐廳</li>
            <li>提供與Google Map類似,但更加便於尋找餐廳,更方便訂位的平台</li>
            <li>透過媒合主動推薦消費者喜歡類型的餐廳,提升消費機會</li>
            <li>藉由廣告牆輪播,增加店家曝光率</li>
        </ul>
    </div>
    <div>
        <h4>內容簡介</h4>
        <div>
            <h5>壹、後台</h5>
            <ol>
                一、平台管理者
                <li>會員資料管理</li>
                <li>店家資料管理</li>
                <li>評論管理</li>
                <li>優惠券管理</li>
                <li>客服留言區管理</li>
                <li>會員權限設定</li>
                <li>店家權限設定</li>
                <li>訂單資料表管理</li>
                <li>首頁推播廣告管理</li>
            </ol>
        </div>
        <div>
            <ol>
                二、店家權限
                <li>修改店家資訊</li>
                <li>查詢顧客即時訂單</li>
                <li>接受訂位</li>
                <li>查詢歷史訂單</li>
                <li>優惠券管理</li>
                <li>近期活動、廣告管理</li>
            </ol>
        </div>
        <div>
            <h5>貳、前台</h5>
            <ol>
                三、消費者權限
                <li>修改個人資訊</li>
                <li>餐廳訂位</li>
                <li>GPS所在地、餐廳種類查詢</li>
                <li>使用優惠券</li>
                <li>客服留言</li>
                <li>查詢歷史訂單</li>
                <li>店家評論留言</li>
                <li>顧客收藏</li>
            </ol>
        </div>
    </div>
    <div>
        <h5> 組員</h5>
        <ul>
            <li>暫時隱藏</li>
        </ul>
    </div>
</div>