@model prjShanLiang.Models.Admin

@{
    ViewData["Title"] = "Create";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <i class="fa-solid fa-triangle-exclamation"></i>
        @ViewBag.Message
    </div>
}

<h1>新增管理員</h1>

<h4>輸入管理員資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminName" class="control-label" placeholder="">管理員帳號</label>
                <input asp-for="AdminName" class="form-control" required/>
                <span asp-validation-for="AdminName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passwoed" class="control-label" placeholder="">管理員密碼</label>
                <input asp-for="Passwoed" class="form-control"  type="password" required/>
                <span asp-validation-for="Passwoed" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="IdentificationId" class="control-label" placeholder="">管理員權限</label>
                <input asp-for="IdentificationId" class="form-control" value="3"/>
                <span asp-validation-for="IdentificationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="List" class="btn btn-outline-danger">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
