@model IEnumerable<prjShanLiang.Models.Admin>

@{
    ViewData["Title"] = "List";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>管理員資料一覽表</h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-user-shield"></i>
        管理員資料
    </div>
    <div class="card-body">

        <table id="datatables" class="hover cell-border order-column order-column">
            <a asp-action="Create" class="btn btn-outline-warning">+新增管理員帳號</a>
            <thead>
                <tr>
                    <th >管理員編號</th>
                    <th>管理員帳號</th>
                    <th>管理員權限</th>
                    <th>設定</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model){
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelItem => item.AdminName)</td>
                            <td>
                                @if (item.Identification == 0)
                                {
                                   <span>一般管理者</span>
                                }
                                else if (item.Identification == 3)
                                {
                                    <span>高級管理者</span>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", new { id = item.AdminId }, new {Class="btn btn-outline-primary"}) |
                                @Html.ActionLink("刪除", "Delete","Admin", new {  id=item.AdminId },new {onclick="return confirm('確定刪除嗎?')", Class="btn btn-outline-danger"})
                            </td>
                        </tr>
                      }}
                    </tbody>
        </table>
    </div>
</div>