body {
    background: #e9e9e9;
  }
  .wrapperLoading {
    margin: 30px;
    padding: 5px;
    background: #fff;
    width: auto;
    margin: auto;
  }
  .gridLoading:not(:last-child) {
    margin-bottom: 30px;
  }
  .imageLoading {
    height: 100px;
    width: 150px;
    display: inline-block;
    margin: 5px;
    margin-left: 7%;
  }
  .textLoading {
    margin-left: 170px;
    display: inline-block;
  }
  .shortlineLoading {
    height: 10px;
    width: 80px;
    margin: 4px 0;
  }
  .lineLoading {
    height: 10px;
    width: 230px;
    margin: 4px 0;
  }
  .imageLoading, .shortlineLoading, .lineLoading {
    background: #F6F6F6;
    background: linear-gradient(to right, #d4d4d4 8%, #e4e2e2 18%, #d4d4d4 33%);
    background-size: 800px 104px;
    -webkit-animation: placeHolderShimmer 2s infinite;
    animation: placeHolderShimmer 2s infinite;
  }
  
  @-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }