.toTop-arrow {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.6;
    background: #000;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 0rem;
    display: none;
}

    .toTop-arrow::before, .toTop-arrow::after {
        width: 25px;
        height: 6px;
        border-radius: 3px;
        background: #f90;
        position: absolute;
        content: "";
    }

    .toTop-arrow::before {
        transform: rotate(-45deg) translate(0, -50%);
        left: 0.42rem;
    }

    .toTop-arrow::after {
        transform: rotate(45deg) translate(0, -50%);
        right: 0.42rem;
    }

    .toTop-arrow:focus {
        outline: none;
    }
