@model prjShanLiang.Models.Blog

@{
    ViewData["Title"] = "BloggerDetail";
}
@section Styles{
    <style>
        .toTop-arrow {
            width: 4.3rem;
            height: 4.3rem;
            padding: 0;
            margin: 0;
            border: 0;
            border-radius: 33%;
            opacity: 0.6;
            background: #000;
            cursor: pointer;
            position: fixed;
            right: 1rem;
            bottom: 8rem;
            display: none;
        }

            .toTop-arrow::before, .toTop-arrow::after {
                width: 25px;
                height: 6px;
                border-radius: 3px;
                background: #f90;
                position: absolute;
                content: "";
            }

            .toTop-arrow::before {
                transform: rotate(-45deg) translate(0, -50%);
                left: 0.42rem;
            }

            .toTop-arrow::after {
                transform: rotate(45deg) translate(0, -50%);
                right: 0.42rem;
            }

            .toTop-arrow:focus {
                outline: none;
            }
    </style>
}
<button type="button" id="BackTop" class="toTop-arrow"></button>   @*回到最上層按鈕*@
<main id="main">
    
        <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-color:orange;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 style="font-size:30px">膳糧專欄</h1>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
    <div class="container aos-init " data-aos="fade-up">
        <div>
            <a asp-action="BloggerCard" style="font-size:18px" >回到文章總覽</a>
        </div>
        <div >
            <form asp-action="BloggerDetail" style="font-family:NSimSun;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BlogId" readonly="value" />
                <div class="form-group ">
                    <input asp-for="BlogHeader"
                              class="form-control  p-3 mb-2 bg-light text-dark"
                              readonly="value"
                              id="story"
                              style="background-color:white; border:hidden; font-size: 30px; font-weight:500"/>
                <div class="form-group ">
                    <textarea asp-for="BlogContent"
                              class="form-control  p-3 mb-2 bg-light text-dark;"
                              readonly="value" 
                                id="story"
                                style="background-color:white; border:hidden;font-size: 20px;">
                </textarea>
                        <span asp-validation-for="BlogContent" class="text-danger"></span>
                    </div>
                <div class="text-center">
                    <img src="~/Images/Blog/@Model.BlogPic" width="1000" />
                    <span asp-validation-for="BlogPic" class="text-danger"></span>
                    </div>
                <div class="form-group">
                        <p style="font-size:18px">
                            <img src="~/Images/Blog/city_icon.png" />
                            @Model.CityName @Model.DistrictName
                        <img src="~/Images/Blog/restaurant_icon.png" />
                        @Model.RestaurantName
                            </p>
                </div>
                </form>
        </div>
        <hr />
      <br />
        <div>
            <a asp-action="BloggerCard" style="font-size:18px">回到文章總覽</a>
        </div>
    </div>
        </main>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
    <script src="~/js/Blog.js"></script>
    @*文字區塊會依內容自動調整大小*@
    <script>
        //回到最頂端功能
        $(function () {
            $('#BackTop').click(function () {
                $('html,body').animate({ scrollTop: 0 }, 333);
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('#BackTop').fadeIn(222);
                } else {
                    $('#BackTop').stop().fadeOut(222);
                }
            }).scroll();
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
