@model prjShanLiang.Models.Blog

@{
    ViewData["Title"] = "BloggerDetail";
}
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 style="font-size:30px">@Model.BlogHeader</h1>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
        <div>
            <a asp-action="BloggerList" style="font-size:18px" >回到文章列表</a>
        </div>
      <div>
            <form asp-action="BloggerDetail" style="font-family:NSimSun;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BlogId" readonly="value" />
                <div class="form-group ">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
                    <textarea asp-for="BlogContent"
                              class="form-control"
                              readonly="value" 
                    id="story"
                    style="background-color:white; border:hidden;font-size: 20px;">
                </textarea>
                        <span asp-validation-for="BlogContent" class="text-danger"></span>
                    <script src="~/js/Blog.js"></script>
                    </div>
                <div class="text-center">
                    <img src="~/Images/Blog/@Model.BlogPic" width="1000" />
                    <span asp-validation-for="BlogPic" class="text-danger"></span>
                    </div>
                <div class="form-group">
                        <p style="font-size:18px">
                            <img src="~/Images/Blog/city_icon.png" />
                            @Model.CityName @Model.DistrictName
                        <img src="~/Images/Blog/restaurant_icon.png" />
                        @Model.RestaurantName
                            </p>
                </div>
                </form>
        </div>
        <hr />
      <br />
        <div>
            <a asp-action="BloggerList" style="font-size:18px">回到文章列表</a>
        </div>
    </div>
        </main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
